<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Lotien | Страна цветов - Глоксинии и стрептокарпусы почтой{% endblock title %}</title>
    <meta name="Keywords" content="глоксиния, клубни глоксиний недорого, махровые глоксинии купить, стрептокарпусы почтой, зимовка глоксиний, глоксинии почтой, детки стрептокарпусов, селекция стрептокарпусов, цветы почтой">
    <meta name="Description" content="Клубни махровых глоксиний почтой, гарантия качества. Крепкие детки стрептокарпусов почтой. Качественный посадочный материал комнатных цветов бандеролью 1ого класса">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <link href="{{ STATIC_URL }}style.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}scripts/flexslider/flexslider.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="{{ STATIC_URL }}css/fontello.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/fontello.css" rel="stylesheet" type="text/css">

    <script src="{{ STATIC_URL }}scripts/jquery-1.11.0.min.js"></script>
    <script src="{{ STATIC_URL }}scripts/flexslider/jquery.flexslider-min.js"></script>
    <script src="{{ STATIC_URL }}scripts/imagelightbox.min.js"></script>
    <script src="{{ STATIC_URL }}scripts/functions.js"></script>
    <script src="{{ STATIC_URL }}scripts/form.js"></script>
    <script src="{{ STATIC_URL }}scripts/scroll.js"></script>

    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
        function initialize() {
            var myLatlng = new google.maps.LatLng(52.2542819, 104.2361891);
            var map_options = {
                zoom: 17,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                center: myLatlng,
                scrollwheel: false,
                disableDefaultUI: true
            };

            var map = new google.maps.Map(document.getElementById('map_canvas'), map_options)
            var image = '{{ STATIC_URL }}images_lavender/icon-google-maps-marker.png';
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                icon: image
            });

            map.panBy(-200, 0);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <!-- Google Map Ends! -->

</head>
<body>

{% if messages %}
    <div class="messages">
        {% for m in messages %}
            <div class="alert alert-{{ m.tags }}">{{ m|safe }}</div>
        {% endfor %}
    </div>
{% endif %}

<div class="main">

    <!-- Header -->
    <div class="header" id="header">
        <div class="container">

            <!-- Menu -->
            <div class="menu">

                <div class="menu_container">
                    <ul class="items">
                        <li><a href="/#collections" title="about us">СТРЕПТОКАРПУСЫ</a></li>
                        <li><a href="/#collections" title="about us">ГЛОКСИНИИ</a></li>
                        <li><a href="/nachinayushim/" title="portfolio">НАЧИНАЮЩИМ</a></li>
                        <li><a href="/dostavka-i-garantii/" title="our services">ДОСТАВКА</a></li>
                        <li><a href="/nashi-druzya/" title="contact us">НАШИ ДРУЗЬЯ</a></li>
                        <li><a href="/o-nas/" title="contact us">О НАС</a></li>
                    </ul>

                    <!-- Social Links -->
                    <ul class="social">
                        <li>
                            <a href="https://www.facebook.com/lotien.irk">
                                <span class="icon-facebook-rect"></span>
                            </a>
                        </li>
                        <li>
                            <a href="http://ok.ru/group/52580067049555">
                                <span class="icon-odnoklassniki-rect"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://vk.com/id185463142">
                                <span class="icon-vkontakte-rect"></span>
                            </a>
                        </li>
                        <li class="cart-link">
                            <a href="/cart/" {% if not request.session.order %}class="text-muted"{% endif %}>
                                <i class="fa fa-shopping-cart"></i>
                                {% if request.session.order %}
                                    <span class="badge">{{ request.session.order|length }}</span>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                    <!-- Social Links Ends! -->
                </div>

            </div>
            <!-- Menu Ends -->

            <h1><a href="/">Lotien <span>страна цветов</span></a></h1>

        </div>
    </div>
    <!-- Header Ends! -->

    <!-- Page Content -->
    <div class="page">
        <div class="container">
            {% block body %}
            {% endblock body %}
            <!-- Contact -->
            <div class="contact">
                <h2>Обратная связь</h2>
                <!-- Contact Form -->
                <div class="form">
                    <form action="contact.php" method="post">
                        <input type="text" name="name" placeholder="ваше имя"/>
                        <input type="text" name="email" placeholder="ваш email"/>
                        <textarea name="message" placeholder="ваш вопрос"></textarea>

                        <button name="submit" type="submit">отправить</button>
                    </form>
                </div>
                <!-- Contact Form Ends! -->

                <!-- More -->
                <div class="more">
                    <h4>
                        Я отвечаю всем, кто здоровается, вне зависимости от того, собирается ли человек приобретать наши
                        растения.
                    </h4>
                </div>
                <!-- More Ends! -->

            </div>
            <!-- Contact Ends! -->

        </div>
    </div>
    <!-- Page Ends! -->

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <p>Copyright &copy;2015 <a href="index.html">Инна Шишкина</a></p>
            <div>
                {% include "counters.html" %}
            </div>
        </div>
    </div>
    <!-- Footer Ends! -->



    <script type="text/javascript" src="//connect.facebook.net/en_US/all.js"></script>
    <script type="text/javascript" charset="utf-8">
        FB.Canvas.setAutoResize(500);
    </script>

    <script src="//vkontakte.ru/js/api/xd_connection.js?2" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var $body_height = $('body .real-site').height();
            if ($body_height) {
                VK.callMethod('resizeWindow', 607, $body_height);
            }
            ;
        });
    </script>

</div>

</body>
</html>
