{% extends "base.html" %}

{% block title %}{{ collection.name }} | {{ block.super }}{% endblock title %}

{% block body %}
  <h1 class="top">{{ collection.name }}</h1>

  {% if collection.not_available %}
    <div class="alert alert-danger" role="alert">
      Очень жаль, но вся коллекция распродана. {{ collection.not_available }}
    </div>
  {% endif %}

  <!-- Featured Products -->
  <div class="products">
    {% for f in flowers %}
      <!-- Product -->
      <div class="product">
        <a name="flower_{{ f.pk }}"></a>
        <div>
          <img src="{{ f.photo.thumb.url }}" alt="{{ f.name }}">
          <a href="{% url 'flower' f.collection_id f.pk %}"></a>
        </div>
        <h3>{{ f.name }}</h3>
        <p>{{ f.description }}</p>
      </div>
      <!-- Product Ends! -->

      {% if forloop.counter|divisibleby:3 %}
        <div class="clearboth"></div>
      {% endif %}
    {% endfor %}

  </div>
  <!-- Featured Products Ends! -->
{% endblock body %}
