<script type='text/javascript'>  var _ues = {
    host: 'innalo.userecho.com',
    forum: '32302',
    lang: 'ru',
    tab_corner_radius: 5,
    tab_font_size: 20,
    tab_image_hash: '0L7RgdGC0LDQstC40YLRjCDQvtGC0LfRi9Cy',
    tab_chat_hash: '0YfQsNGC',
    tab_alignment: 'right',
    tab_text_color: '#FFFFFF',
    tab_text_shadow_color: '#00000055',
    tab_bg_color: '#57A957',
    tab_hover_color: '#F45C5c'
};
(function () {
    var _ue = document.createElement('script');
    _ue.type = 'text/javascript';
    _ue.async = true;
    _ue.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.userecho.com/js/widget-1.4.gz.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(_ue, s);
})();  </script>
<script type="text/javascript"> (function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
        try {
            w.yaCounter23598058 = new Ya.Metrika({
                id: 23598058,
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true
            });
        } catch (e) {
        }
    });
    var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
        n.parentNode.insertBefore(s, n);
    };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else {
        f();
    }
})(document, window, "yandex_metrika_callbacks"); </script>
<noscript>&amp;lt;div&amp;gt;&amp;lt;img src="//mc.yandex.ru/watch/23598058" style="position:absolute;
    left:-9999px;" alt="" /&amp;gt;&amp;lt;/div&amp;gt;
</noscript>
<!-- /Yandex.Metrika counter -->   <!-- www.liveinternet.ru --><!--LiveInternet counter-->
<script type="text/javascript"><
!--document.write('<a href="http://www.liveinternet.ru/click" ' + 'target=_blank><img border="0" src="http://counter.yadro.ru/hit?t52.6;r' + escape(document.referrer) + ((typeof(screen) == 'undefined') ? '' : ';s' + screen.width + '*' + screen.height + '*' + (screen.colorDepth ? screen.colorDepth : screen.pixelDepth)) + ';u' + escape(document.URL) + ';' + Math.random() + '" alt="" title="LiveInternet: показано число просмотров и посетителей за 24 часа" ' + 'border=0 width=0 height=0><\/a>')//--></script>
<!-- top.mail.ru --><!--Rating@Mail.ru COUNTEr-->
<script language="JavaScript" type="text/javascript"><
!--d = document;
var a = '';
a += ';r=' + escape(d.referrer)
js = 10//--></script>
<script language="JavaScript1.1" type="text/javascript"><
!--a += ';j=' + navigator.javaEnabled()
js = 11//--></script>
<script language="JavaScript1.2" type="text/javascript"><
!--s = screen;
a += ';s=' + s.width + '*' + s.height
a += ';d=' + (s.colorDepth ? s.colorDepth : s.pixelDepth)
js = 12//--></script>
<script language="JavaScript1.3" type="text/javascript"><
!--js = 13//--></script>
<script language="JavaScript" type="text/javascript"><
!--d.write('<a href="http://top.mail.ru/jump?from=1186364"' + ' target=_top><img src="http://da.c1.b2.a1.top.list.ru/counter' + '?id=1186364;t=130;js=' + js + a + ';rand=' + Math.random() + '" alt="Рейтинг@Mail.ru"' + ' border=0 height=40 width=88/><\/a>')
if (11 < js)d.write('<' + '!-- ')//--></script>
<a href="http://top.mail.ru/jump?from=1186364" target="_top"><img
    src="http://da.c1.b2.a1.top.list.ru/counter?id=1186364;t=130;js=13;r=;j=true;s=1920*1080;d=24;rand=0.3953040821943432"
    alt="Рейтинг@Mail.ru" border="0" height="40" width="88/" style="display: none !important;"></a><!-- <noscript><a target=_top href="http://top.mail.ru/jump?from=1186364"><img src="http://da.c1.b2.a1.top.list.ru/counter?js=na;id=1186364;t=130" border=0 height=40 width=88 alt="Рейтинг@Mail.ru"/></a></noscript><script language="JavaScript" type="text/javascript"><!-- if(11<js)d.write('--'+'>')//-->
<!--/COUNTER--><!-- /top.mail.ru -->  <!-- top100.rambler.ru --><a href="http://top100.rambler.ru/top100/"><img
src="http://counter.rambler.ru/top100.cnt?1050047" alt="Rambler's Top100" width="81" height="63" border="0"
style="display: none !important;"></a><!-- /top100.rambler.ru -->  <!--yandeg.ru-->
<!-- Top YandeG for: `lotien.ru` id: `271333` --> <a href="http://yandeg.ru/" target="_blank"
                                                     title="Статистика сайта. Показано: просмотров страниц за неделю, просмотров страниц сегодня, посетителей сегодня."
                                                     style="text-decoration:none; font-size: 8px;">
<script type="text/javascript"> <
!--document.write('<img ' + 'src="http://count.yandeg.ru/cnt.php?id=271333&img=2&h=' + escape(document.URL) + '&ref=' + escape(document.referrer) + ((typeof(screen) == 'undefined') ? '' : '&s=' + screen.width + '*' + screen.height + '*' + (screen.colorDepth ? screen.colorDepth : screen.pixelDepth)) + '&rand=' + Math.random() + '" width="88" height="31" border="0"' + ' alt="Рейтинг Сайтов YandeG" />') //--></script>
<img
    src="http://count.yandeg.ru/cnt.php?id=271333&amp;img=2&amp;h=http%3A//lotien.ru/&amp;ref=&amp;s=1920*1080*24&amp;rand=0.2567524784244597"
    width="88" height="31" border="0" alt="Рейтинг Сайтов YandeG" style="display: none !important;"></a><!-- /Top YandeG -->
<!--/yandeg.ru-->  <!--begin of Bonbone--> <a href="http://bonbone.ru/"
                                              title="Популярный каталог ресурсов интернет"> <img
src="http://bonbone.ru/bon.php?326890" width="88" height="31" border="0"></a> <!--end of Bonbone--> <a
href="http://www.flowersweb.info/" target="_blank"><img src="http://www.flowersweb.info/images/88x31.gif"
                                                        alt="Все о комнатных растениях: уход, вредители, галереи, каталог, рассылка, форум."
                                                        width="88" height="31" border="0"></a>
<!--DonnaFlora counter--> <a href="http://www.donnaflora.ru/?act=rate#360"> <img
src="http://www.donnaflora.ru/rate.php?p=360&amp;r=&amp;u=http%3A//lotien.ru/&amp;n=0.6003675148822367"
alt="Комнатные растения и цветы" title="Рейтинг сайтов о растениях" border="0" width="88" height="31"></a><!--/DonnaFlora -->
