{% extends "base.html" %}

{% block body %}
  <!-- Slider -->
  <div class="promo">

    <div class="flexslider">
      <ul class="slides">
        {% for img in slider_photos %}
          <li><img src="{{ img.image.url }}" alt="" /></li>
        {% endfor %}
      </ul>
    </div>

  </div>
  <!-- Slider Ends! -->

  <!-- Abstract -->
  <div class="abstract">
    <p>
        Мы не только коллекционируем редкие сортовые комнатные цветы, но и выращиваем качественный посадочный
        материал, который умеем надёжно упаковывать и отправлять по всей России.
    </p>
  </div>
  <!-- Abstract Ends! -->

  <!-- Services -->
  <div class="services">
    <div class="service">
      <h3><a href="/dostavka-i-garantii/">Гарантия</a></h3>
      <p>
          Растения отправляются с гарантией их сохранности, в случае повреждения или гибели растений по вине почты,
          мы компенсируем потери.
      </p>
    </div>

    <div class="event">
      <h3><a href="/nachinayushim/">Все расскажем</a></h3>
      <ul>
        <li><a href="/rasteniya-iz-banderoli-chto-i-kak/">Как обращаться с растением?</a></li>
        <li><a href="/streptokarpusyi/">Что такое стрептокарпусы?</a></li>
        <li><a href="/gloksinii/">Что такое глоксинии?</a></li>
      </ul>
    </div>

    <div class="delivery">
      <h3><a href="/dostavka-i-garantii/">Особенная упаковка</a></h3>
      <p>
          Мы специально упаковываем наши растения, чтобы свести к минимуму вероятность их повреждения при пересылке.
      </p>
    </div>

    <p class="description">
        На нашем сайте вы можете полюбоваться цветочным великолепием и выписать понравившиеся сорта. Мы отправляем
        крепкие детки стрептокарпусов, и клубни либо крепкие детки глоксиний (семена и листовые черенки мы не высылаем).
    </p>

  </div>
  <!-- Services Ends! -->

  <!-- Featured Products -->
  <div class="products">

    <h2>Наши цветы</h2>

    {% for f in flowers %}
      <!-- Product -->
      <div class="product">
        <div>
          <img src="{{ f.photo.thumb.url }}" alt="{{ f.name }}">
          <a href="{% url 'flower' f.collection_id f.pk %}"></a>
        </div>
        <h3>{{ f.name }}</h3>
        <p>{{ f.short_description }}</p>
      </div>
      <!-- Product Ends! -->
    {% endfor %}

  </div>
  <!-- Featured Products Ends! -->

  <!-- Portfolio -->
  <div class="portfolio">
    <a class="anchor" name="collections"></a>
    <h2>Коллекции</h2>

    {% for c in collections %}
      <!-- Portfolio List -->
      <div class="item">
        <a href="{% url 'collection' c.pk %}"><span>{{ c.name }}</span></a>
      </div>
    {% endfor %}

    <p class="description">
        <a href="https://docs.google.com/document/d/1M9Yr_fEjdF9yQhA0CvHx3HWxv3yG40vCd5oN-lU5Qkw/edit">
            Скачать каталог целиком
        </a>
    </p>

  </div>
  <!-- Portfolio Ends! -->

  <!-- Team -->
  <div class="team">
    <h2>Обо мне</h2>

    <!-- Member -->
    <div class="team-member">
      <a href="/o-nas/">
        <img src="{{ STATIC_URL }}inna.jpg" alt="Инна Шишкина" class="img-circle">
      </a>
      <h3><a href="/o-nas/">Инна Шишкина (Ильина)</a></h3>
      <p>коллекционер сортовых комнатных цветов с&nbsp;<em>1999</em>&nbsp;года</p>
    </div>
    <!-- Member Ends! -->

  </div>
  <!-- Team Ends! -->

  <!-- Map -->
  <div class="map">
    <div id="map_canvas"></div>

    <div class="address">
      <div>
        <h3>Наш адрес</h3>
        <h4>Коллекционер сортовых комнатных цветов И.Ю.Шишкина. Стрептокарпусы и глоксинии</h4>
        <p>
          г. Иркутск, мкр Первомайский, д. 55
          <br><strong>+7 (924) 601-49-30</strong>
        </p>
      </div>
    </div>
  </div>
  <!-- Map Ends! -->
{% endblock body %}
